<%= form_for(secured_resouce) do |f| %>
  <% if secured_resouce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(secured_resouce.errors.count, "error") %> prohibited this secured_resouce from being saved:</h2>

      <ul>
      <% secured_resouce.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
