body, div, ul, li, a, h1, h2 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

body {
  font-family: sans-serif;
  background-color: #4D69A7;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body:before {
  content: '';
  position: absolute;
  left: 20%;
  width: 100%;
  height: 200%;
  background-color: rgb(255, 255, 255); /* fallback */
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
